# Environnement virtuel
venv/
.venv/
server/venv/

# Cache Python
__pycache__/
*.py[cod]

# Base de données SQLite
db.sqlite3
*.sqlite3

# Variables d'environnement
.env
.env.*

# Postman
.postman/
postman/

# Documentations
*.pdf

# Agents
AGENT.md

# Prototypes
template.html
